@charset "UTF-8";

/* PALETA DE CORES:

Rosa: #f7d5ed
Rosa escuro: #AB829F
Verde claro: #BCF6F7
Verde escuro: #8AAAAB
Amarelinho: #F7EEBC */

@media screen and (min-width: 768px) and (max-width: 1200px) {
    main {
        width: 80%;
    }

    section {
        columns: 2;
    }

    div#imagem {
        border-radius: 20px 0px 0px 20px;
        height: 288px;
        width: 70%
    }

    div#formulario {
        width: 120%;
        translate: -23% 0%;
    }

    input#iemail, input#isenha {
        width: 88%;
        translate: -45% -50%;
    }
}