@charset "UTF-8";

@media screen and (min-width: 768px) {
    span.material-symbols-outlined {
        display: none;
    }

    nav {
        display: inline-block;
    }

    nav > ul > li {
        display: inline-block;
    }

    main {
        max-width: 770px;
    }
}